:root {
    --thriftyGreen: #9EE69D;
    --darkThriftyGreen: #95cea8;
    --softWhite: #FAFAFA;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-align: center;
}

h3 {
    font-size: 24px;
    text-align: center;
}

p{
    font-size: 16px;
}

.container {
display: table;
width: 75%;
}

body {
    font-family: "Lato", sans-serif;
}

.main-head {
    height: 150px;
    background: var(--softWhite);
}

.navbar {
    height: 100%;
    background-color: var(--thriftyGreen);
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title-nav {
    white-space: nowrap;
}

.main {
    padding: 0px 10px;
}

.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-login {
    background-color: var(--thriftyGreen);
    outline: var(--darkThriftyGreen);
    color: var(--softWhite);
}

.center{
    width: 560px;
    margin: auto;
    position: relative;
}

.login-logo-bg {
    background-color: var(--softWhite);
    border-radius: 50%;
    height: 360px;
    width: 360px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
}

.login-logo-carrot {
    height: 240px;
    width: 240px;
    margin-left: 160px;
    margin-top: 140px;
    position: absolute;
    z-index: 3;
}

.login-box{
    background-color: var(--softWhite);
    border-style: solid;
    border-radius: 5%;
    border-color: var(--softWhite);
    border-width: 24px;
    width: 480px;
    position: absolute;
    top: 360px;
    left: 40px;
    z-index: 2;
}

.productlist {
    list-style: none;
}

.is-hidden {
    display: none;
}

.left-half {
    background-color: #ff9e2c;
    position: absolute;
    left: 0px;
    width: 50%;
    }
    
    .right-half {
    background-color: #b6701e;
    position: absolute;
    right: 0px;
    width: 50%;
    }