:root {
    --thriftyGreen: #A0E8A2;
    --lightThriftyGreen: #B4EBB3;
    --darkThriftyGreen: #7FB076;
    --softWhite: #FAFAFA;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-align: center;
}

h3 {
    font-size: 24px;
    text-align: center;
}

p{
    font-size: 16px;
}

.container {
    position: relative;
}

.main-head {
    height: 150px;
    background: var(--softWhite);
}

.navbar {
    height: 100%;
    background-color: var(--thriftyGreen);
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title-nav {
    white-space: nowrap;
}

.main {
    padding: 0px 10px;
}

.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-login {
    background-color: var(--thriftyGreen);
    outline: var(--darkThriftyGreen);
    color: var(--softWhite);
}

/* LOGIN PAGE */
.center{
    width: 560px;
    margin: auto;
    position: relative;
}

.login-logo-bg {
    background-color: var(--softWhite);
    border-radius: 50%;
    height: 360px;
    width: 360px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
}

.login-logo-carrot {
    height: 240px;
    width: 240px;
    margin-left: 160px;
    margin-top: 140px;
    position: absolute;
    z-index: 3;
}

.login-box{
    background-color: var(--softWhite);
    border-style: solid;
    border-radius: 5px;
    border-color: var(--softWhite);
    border-width: 24px;
    width: 480px;
    position: absolute;
    top: 360px;
    left: 40px;
    z-index: 2;
}

/* REGISTRATION PAGE */
.registration-bg{
    background-color: var(--softWhite);
    border-radius: 50%;
    height: 560px;
    width: 560px;
    position: relative;
    margin: auto;
    top: 120px;
}
.registration-form {
    position: absolute;
    margin: auto;
    top: 30px;
    left: 32px;
}

/* HOME PAGE */
.home-header {
    position: relative;
    margin: auto;
    height: 120px;
    padding: 16px;
}

.thrifty-btn {
    position: absolute;
    left: 12.5%;
    background-color: var(--thriftyGreen);
    border-color: var(--thriftyGreen);
    border-radius: 5px;
    border-style: solid;
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.thrifty-btn:hover {
    background-color: var(--darkThriftyGreen);
    border-color: var(--darkThriftyGreen);
    color: black;
    text-decoration: none;
}

.cart-history {
    position: relative;
    margin: auto;
}

.collapsible {
    background-color: var(--thriftyGreen);
    cursor: pointer;
    font-size: 16px;
    display: table;
    margin: 16px auto 0px auto;
    width: 75%;
    border: solid;
    border-color: var(--thriftyGreen);
    border-radius: 5px;
    border-width: 17px;
}
  
.active, .collapsible:hover {
    border-color: var(--darkThriftyGreen);
    background-color: var(--darkThriftyGreen);
}
  
.content {
    padding: 0 18px;
    display: table;
    width: 75%;
    overflow: hidden;
    margin: auto;
    background-color: var(--softWhite);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.home-table{
    padding-bottom: 16px;
}

.productlist {
    list-style: none;
}

.is-hidden {
    display: none;
}
