div.cart-action input {
    background: url(https://media.istockphoto.com/id/639201180/vector/shopping-cart-icon.jpg?s=612x612&w=0&k=20&c=AIDue0uA36lvIYf4gstcMYqcIwCK_p3_RQb0EQv9XsI=) no-repeat;
    background-size: 32px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    border: none;
}