{% extends "base.html" %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carts.css') }}">
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });

    carts = document.getElementsByClassName("add-to-cart");

    for (i = 0; i < carts.length; i++) {
        carts[i].addEventListener("click", function() {
            this.classList.toggle("active");
            if (this.src == "https://cdn-icons-png.flaticon.com/512/263/263142.png"){
                this.src = "https://toppng.com/public/uploads/thumbnail/check-mark-green-tick-mark-green-check-mark-circle-11562875756gojuqyur6z.png"
            }
        });
    }
  </script>
{% endblock %}

{% block content %}

<h2 align="center">
    {{ cart_name }}
</h2>


{% for i in range(cartLength)%}
    <h3>{{ cartList[i].product_name }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Store</th>
                <th></th>
            </tr>
        </thead>
        {% for product in searchResults[i] %}
        <form method="POST">
            <tbody>
                <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.category}}</td>
                <td>{{product.store}}</td>
                <td>
                    <div class="cart-action">
                        <input type="submit" name="" value=""/>
                        <input type="hidden" name="pid" value="{{ product.id }}"/>
                    </div> 
                </td>
                </tr>
            </tbody>
        </form>
        {% endfor %}
    </table>
{% endfor %}

<a href="{{ url_for('carts.cartPurchase') }}" type="button" class="btn">Next</a>

{% endblock content %}