{% extends "base.html" %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carts.css') }}">
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}

{% block content %}

<h2 align="center">
    {{ cartName }}
</h2>

<form method="POST">
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Store</th>
            <th>Qt.</th>
            <th></th>
        </tr>
    </thead>
    {% for i in range(cartLength) %}
        <tbody>
            <tr>
                <td>{{products[i].name}}</td>
                <td>{{products[i].price}}</td>
                <td>{{products[i].category}}</td>
                <td>{{products[i].store}}</td>
                <td>{{cartContents[i].quantity}}</td>
                <td>
                    <div>
                        <input class="form-check-input" type="checkbox" name="pid" id="inlineCheckbox1" value="{{ products[i].id }}">
                        <label class="form-check-label" for="inlineCheckbox1">&nbsp;</label>
                        <!-- <input type="hidden" name="pid" value="{{ products[i].id }}">
                        <input type="hidden" name="product_name" value="{{ products[i].name }}">
                        <input type="hidden" name="price" value="{{ products[i].price }}">
                        <input type="hidden" name="category" value="{{ products[i].category }}">
                        <input type="hidden" name="store" value="{{ products[i].store }}"> -->
                    </div>
                </td>
            </tr>
        </tbody>
    {% endfor %}
  </table>

<button type="submit" name="submit-button" value="Submit">Complete Cart</button>
</form>

{% endblock content %}
