{% extends "navbar.html" %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('table.home-table').DataTable({
      searching: false,
      paging: false,
      info: false
    });
  });
</script>
{% endblock %}


{% block content %}
<div class="home-header">
  <h2 class="font-italic">
    Welcome Back {{current_user.firstname}}!
  </h2>
  <a href="{{ url_for('carts.newcart') }}" class="newcart-btn"> Start new cart! </a>
</div>

<div class="cart-history">
  <h2 style="padding: 16px">Your three most recent CarrotCarts:</h2>
  {% for cart in carts%}
    <a data-toggle="collapse" class="collapsible"> 
      <h3 class="fw-semibold" style="display:inline; font-size:24px;">{{cart.cart_name}}</h3>
      <p style="display: inline;">  </p>
      <p class="font-italic" style="display:inline;">{{cart.time_created}} </p>
    </a>
    <div class="collapse content">
        <table class="hover home-table" id="data{{ loop.index }}">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
              <th scope="col">Category</th>
              <th scope="col">Store</th>
            </tr>
          </thead>
          <tbody>
            {% for purchase in cartContent%}
              {% if cart.cid == purchase.cid: %}
                <tr>
                  <td>{{purchase.product_name}}</td>
                  <td>{{purchase.price}}</td>
                  <td>{{purchase.category}}</td>
                  <td>{{purchase.store}}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
    </div>
  {% endfor %}
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</body>

{% endblock %}
