{% extends "navbar.html" %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('table.home-table').DataTable({
        searching: false,
        paging: false,
        info: false
      });
    });
  </script>
  <script>
    var coll = document.getElementsByClassName("collapsible");

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
  </script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {  
      var data = google.visualization.arrayToDataTable({{category_data | safe}});
      var options = {
        title: 'Historical spending'
      };
      var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
      chart.draw(data, options);
    }
  </script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      console.log({{ last_cart | safe }})
      var data = google.visualization.arrayToDataTable({{last_cart | safe}});
      var options = {
        title: 'Last Cart expenditure'
      };
      var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
      chart.draw(data, options);
    }
  </script>
{% endblock %}

<style>
  .button {
    background-color: #AFF4C6;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 6px 2px;
    cursor: pointer;
  }
  .float-container {
    position: relative;
    padding: 0px;
  }
  .float-child {
    position: absolute;
    width: 49%;
    float: left;
    padding: 20px;
  }  
</style>

{% block content %}
<br>
<br>
<div class="home-header">
  <h2 class="font-italic">
    Welcome Back {{current_user.firstname}}!
  </h2>
  <a href="{{ url_for('carts.newcart') }}" class="thrifty-btn"> Start new CarrotCart! </a>
</div>

{% if count>0 %}
  <h2>
    Cart Analytics
  </h2>
  <div class="float-container">
    <div class="float-child">
      <div id="piechart1" style="width: 700px; height: 300px;"></div>
    </div>
    <div class="float-child">
      <div id="piechart2" style="width: 700px; height: 300px;"></div>
    </div>
  </div>
{% endif %}

<div class="cart-history">
  <h2 style="padding: 16px">Your three most recent CarrotCarts:</h2>

  {% for cart in carts%}
  <a data-toggle="collapse" class="collapsible"> 
    <h3 class="fw-semibold" style="display:inline; font-size:24px;">{{cart.cart_name}}</h3>
    <p style="display: inline;">  </p>
    <p class="font-italic" style="display:inline;">{{cart.time_created}} </p>
  </a>
  <div class="collapse content">
    <table class='hover home-table' id="data{{ loop.index }}">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Store</th>
          <th scope="col">Carrot</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for purchase in cartContent%}
          {% if cart.cid == purchase.cid: %}
            <tr>
              <td>{{purchase.product_name}}</td>
              <td>{{purchase.price}}</td>
              <td>{{purchase.category}}</td>
              <td>{{purchase.store}}</td>
              {% set pid = purchase.pid %}
              {% if purchase.review %}
                  <td>{% if purchase.review[0].like_dislike %}
                        Fresh Carrot
                      {% else %}
                        Rotten Carrot
                      {% endif %} 
                      <a href="{{ url_for('preferences.update', pid=pid, returnUrl='home')}}" class="button">Change your carrot</a>
                  </td>
                {% else %}
                  <td>
                    <a href="{{ url_for('preferences.update', pid=pid, returnUrl='home')}}" class="button">Give a carrot</a>
                  </td>
              {% endif %}
              <td>{{purchase.quantity}}</td>
            </tr>
              
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div> 
</div> 
{% endfor %}



{% endblock %}
