<!-- view -->
<!-- cid, pid, product_name, price, category, store -->

{% extends "base.html" %}

<body>
  <a id="add" href="#">Add Product</a>
  <hr/>

  {# Show all subforms #}
  <form id="lap-form" action="" method="POST" role="form">
      {{ form.hidden_tag() }}

      <div id="subforms-container">
          {% for subform in form.products %}
              {{ macros.render_product_form(subform, loop.index0) }}
          {% endfor %}
      </div>

      <button type="submit">Send</button>
  </form>

  {% if form.errors %}
      {{ form.errors }}
  {% endif %}

  {# Form template #}
  {{ macros.render_product_form(_template, '_') }}
</body>

<!-- {% block content %}

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.cartname.label }}<br/>
    {{ form.cartname(size=32) }}<br/>
    {% for error in form.cartname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.products.label }} <br/>
    {{ form.products(size=32) }}<br/>
  </p>
  {{ form.submit(class_="btn btn-black") }}
</form>

{% endblock %} -->
