<!-- view -->
<!-- cid, pid, product_name, price, category, store -->

{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.cartname.label }}<br/>
    {{ form.cartname(size=32) }}<br/>
    {% for error in form.cartname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.products.label }} <br/>
    {{ form.products(size=32) }}<br/>
  </p>
  {{ form.submit(class_="btn btn-black") }}
</form>

{% endblock %}
