<!-- view -->
<!-- cid, pid, product_name, price, category, store -->

{% extends "navbar.html" %}

{% block content %}

<br><br>
<h2>Your old cart contents:</h2>

{% for cart in currentUserCarts%}
<a data-toggle="collapse" class="collapsible"> 
    <h3 class="fw-semibold" style="display:inline; font-size:24px;">{{cart.cart_name}}</h3>
    <p style="display: inline;">  </p>
    <p class="font-italic" style="display:inline;">{{cart.time_created}} </p>
</a>
<div class="collapse content">
  <p><table class='home-table'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Store</th>
        <th scope="col">Carrot</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    {% for purchase in currentUserCartContent%}
    {% if cart.cid == purchase.cid: %}
    <tbody>
          <tr>
            <td>{{purchase.product_name}}</td>
            <td>{{purchase.price}}</td>
            <td>{{purchase.category}}</td>
            <td>{{purchase.store}}</td>
            <td>
                <form method="POST">
                  {% if purchase.review %}
                    {% if purchase.review[0].like_dislike %}
                      <button class="pref-button" type="submit" name="fresh-carrot" value="delete-freshcarrot-{{ purchase.pid }}">
                        <img src="{{ url_for('static', filename='CarrotIcon.png') }}" alt="FreshCarrot" height="32px">
                      </button>
                      <button class="pref-button" type="submit" name="rotten-carrot" value="update-rottencarrot-{{ purchase.pid }}">
                        <img src="{{ url_for('static', filename='NullRottenCarrot.png') }}" alt="NullRottenCarrot" height="32px">
                      </button>
                    {% else %}
                      <button class="pref-button" type="submit" name="fresh-carrot" value="update-freshcarrot-{{ purchase.pid }}">
                        <img src="{{ url_for('static', filename='NullCarrot.png') }}" alt="NullFreshCarrot" height="32px">
                      </button>
                      <button class="pref-button" type="submit" name="rotten-carrot" value="delete-rottencarrot-{{ purchase.pid }}">
                        <img src="{{ url_for('static', filename='RottenCarrot.png') }}" alt="RottenCarrot" height="32px">
                      </button>
                    {% endif %} 
                  {% else %}
                  <button class="pref-button" type="submit" name="fresh-carrot" value="add-freshcarrot-{{ purchase.pid }}">
                    <img src="{{ url_for('static', filename='NullCarrot.png') }}" alt="NullFreshCarrot" height="32px">
                  </button>
                  <button class="pref-button" type="submit" name="rotten-carrot" value="add-rottencarrot-{{ purchase.pid }}">
                    <img src="{{ url_for('static', filename='NullRottenCarrot.png') }}" alt="NullRottenCarrot" height="32px">
                  </button>
                  {% endif %}
                </form>
              </td>
            <td>{{purchase.quantity}}</td>
          </tr>
          {% endif %}
          {% endfor %}   
    </tbody>
  </table></p>
</div>

<div class="page-bottom">

</div>
{% endfor %}



{% endblock %}

{% block scripts %}
<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>

<script>
    $(document).ready(function () {
      $('table.home-table').DataTable({
        searching: false,
        paging: false,
        info: false
      });
    });
</script>

{% endblock %}
  
  