<!-- uid, pid, product_name, price, category, store -->

{% extends "navbar.html" %}

{% block content %}

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.uid.label }}<br/>
    {{ form.uid(size=32) }}<br/>
    {% for error in form.uid.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  {{ form.submit(class_="btn btn-black") }}
</form>

{% if form.validate_on_submit(): %}

{% if recentFresh is defined and recentFresh|length == 0: %}
    <h1><b>Oh no! User {{form.uid.data}} has not awarded any Fresh Carrots yet.</b></h1>
{% endif %}

<h2>User {{form.uid.data}}'s 5 most recent Fresh Carrots</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Fresh Carrot?</th>
      <th scope="col">Time Created</th>
    </tr>
  </thead>
  <tbody>
    {% for fresh in recentFresh%}
      <tr>
        <th scope="row">{{fresh.pid}}</th>
        <td>{{fresh.product_name}}</td>
        <td>{{fresh.like_dislike}}</td>
        <td>{{fresh.time_created}}</td>

      </tr>
    {% endfor %}
  </tbody>

</table>

{% if recentRotten is defined and recentFresh|length == 0: %}
    <h1><b>Oh no! User {{form.uid.data}} has not awarded any Rotten Carrots yet.</b></h1>
{% endif %}

<h2>User {{form.uid.data}}'s 5 most recent Rotten Carrots</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Fresh Carrot?</th>
      <th scope="col">Time Created</th>
    </tr>
  </thead>
  <tbody>
    {% for rotten in recentRotten%}
      <tr>
        <th scope="row">{{rotten.pid}}</th>
        <td>{{rotten.product_name}}</td>
        <td>{{rotten.like_dislike}}</td>
        <td>{{rotten.time_created}}</td>

      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% endblock %}
